{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <br>
    <div class="container">
        <h1 class="text-info">Sign Up</h1>
        <br>
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <div class="form-group" style="text-align: left; font-weight: bold;">
                {% bootstrap_form form %}
            </div>
            <div style="display:flex; flex-direction: row-reverse;">
                <button type="submit" class="btn btn-primary">회원가입하기</button>
            </div>
        </form> 
    </div>  
{% endblock %}